{% extends "registration/base.html" %}

{% block title %}{% block title-meta %}
    عملیات به موفقیت انجام شد
{% endblock  %}{% endblock  %}

{% block main %}
<div class="col-md-8 text-center mx-auto">
  <div class="card card-success">
    <div class="card-header">
      <h3 class="card-title mb-0 float-left">تغیر رمز عبور</h3>
    </div>
    <div class="card-body">
            <p class="py-4">گذر واژه با موفقیت تغیر یافت.</p>
            {{ form }}
            <a class="btn btn-success ml-3" href="{% url 'account:profile' %}">تایید</a>
    </div>
</div>
{% endblock  %}