{% extends "blog/base.html" %}

{% load humanize %}
{% load static %}
{% load ratings %}
{% load base_tags %}

{% block main %}
 <!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'blog/assets/img/home-bg.jpg' %}');">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{% site_heading %}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% block header %}{% endblock %}
            <aside style="width: 240px; position: absolute; left: 50px;">
                {% popular_articles %}
                {% hot_articles %}
            </aside>
            <!-- Post preview-->
            {% for article in object_list %}
                <div class="post-preview">
                    <a href="{% url 'blog:detail' article.slug %}">
                        <h2 class="post-title" style="font-size: 25px;">
                            {{article.title}}
                            {% if article.is_special %}
                                <span class="badge badge-danger" style="font-size: 15px; color: white; background-color: rgb(181, 12, 12); border-radius: 5px; padding: 3px;">ویژه</span>               
                            {% endif %}
                        </h2>
                        <div>{% ratings article %}</div>
                        <h3 class="post-subtitle" style="font-size: 20px;">{{article.description | striptags | safe | escape | truncatewords:30}}</h3>
                    </a>
                    <p class="post-meta">
                        {{article.publish | naturaltime}}
                        <br>
                        نوشته شده توسط : <a href="{% url 'blog:author' article.author %}">{{article.author.get_full_name}}</a>
                    </p>
                    <div>
                        {% for category in article.category.active %}
                            <a href='{% url 'blog:category' category.slug %}'>#{{category.title}}</a>
                        {% endfor %}
                    </div>
                    <div class="mt-2">بازدیدها: {{article.hits.count}}</div>
                </div>
                <hr class="my-4" />  
            {% empty %}
                <p>محتوای برای نمایش وجود ندارد.</p>
            {% endfor %}
            <!-- Pager-->
            {% if is_paginated %}
                <div class=" justify-content-end mb-4 clearfix pager.botton">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary float-right ml-3" href="{% block previous_page_url %}{% endblock  %}">&rarr; پوست های جدید</a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a class="btn btn-primary float-right" href="{% block next_page_url %}{% endblock  %}">پوست های قدیمی &larr;</a>
                    {% endif %}
                </div>
            {% endif %}
    </div>
</div>
{% endblock  %}